a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#F8F8FF;
    background-color:#000000;
}
@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto;
        }
}
.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
0%{top:0em}
40%{top:0em}
43%{top:-0.9em}
46%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}
.center {
    text-align: center;
}
ul {
    background-color: transparent;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    backdrop-filter: blur(5px);
}
li {
    float: left;
}
li a.button1 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}
li a.button1:hover {
    color:#F8F8FF;
    background-color:#000000;
}
.audiowide {
    font-family: "Audiowide", sans-serif;
}
.jetbrains {
    font-family: "Jetbrains Mono", monospace;
}
.frosted {
    backdrop-filter: blur(5px);

}
.atebit {
    font-family: 'Press Start 2P', cursive;
}
.aldrich {
    font-family: 'Aldrich', sans-serif;
}
.kalam {
    font-family: 'kalam', cursive;
}